

.characterSheet{
    border: 1px solid #000000;
    margin: 5px
}
#basic-addon1{
    border: 1px solid #000000 !important;
    padding: 0px;
    width: 60px;
    display: flex;
}
input.form-control{
    border: 1px solid black;
}

.statContainer{
    text-align:left;
}
.statContainer input{
    width: 40px;
}

.statName{
    font-weight: bold;
}
#characterStats{
    border: 1px solid black;
    overflow: hidden;
}
.bottom-border{
    border-bottom: 1px solid black;
}
#statTitle p{
    margin-bottom: 5px !important
}
.saving-throw-border{
    border: 1px solid black;
    overflow: hidden;
}
#saving-throw{
    border-radius:40px;
    text-align: center;
}
.bordered{
    border: 1px solid black;
}


.max-hit-points{
    text-align: left;
    font-size: small;
}
.current-hit-points{
    text-align: center;
    font-size: large;
    width: 100px;
    border: none
}
.hit-die{
    text-align: right;
    font-size: small;
}
.hit-point-title{
    font-weight: bold;
}
#characterSheetInventory{
    overflow: hidden;
}
.bold{
    font-weight: bold;
}
.border-right{
    border-right: 2px solid black;
}
.bottom-border-light{
    border-bottom: 1px solid rgb(184, 184, 184);
}
.hidden-border{
    overflow: hidden;
}
.shield {
    height: 115px;
    min-width: 150px;
    border: 5px solid black;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%; 
    padding: 0
  }
  .current-AC{
      width: 50px;
      border: none;
      text-align: center;
  }
.bolder{
    font-weight:900;
}

/* rough lines test */
.el {
    background: var(--rough-fill);
    border: var(--rough-stroke-width) solid var(--rough-stroke);
    --rough-fill: #0081ff;
    --rough-stroke: black;
    --rough-stroke-width: 2px;
    --rough-roughness: 10;
  }
  @supports (border-image-source: paint(rough-boxes)) {
    .is-loaded .el {
      border-image-source: paint(rough-boxes);
      border-image-slice: 0 fill;
      border-image-outset: 10px;
      background: none;
    }
  }

  /* sketchy lines test*/

