

.characterSheet{
    border: 1px solid #000000;
    margin: 5px
}
#basic-addon1{
    border: 1px solid #000000 !important;
    padding: 0px;
    width: 60px;
    display: flex;
}
input.form-control{
    border: 1px solid black;
}

.statContainer{
    text-align:left;
}
.statContainer input{
    width: 40px;
}

.statName{
    font-weight: bold;
}
#characterStats{
    /* border: 1px solid black; */
    overflow: hidden;
    background-color: transparent;
}
.bottom-border{
    border-bottom: 1px solid black;
}
.statTitle p{
    margin-bottom: 5px !important
}
.saving-throw-border{
    border: 1px solid black;
    overflow: hidden;
}
#saving-throw{
    border-radius:40px;
    text-align: center;
}
.bordered{
    border: 1px solid black;
}


.max-hit-points{
    text-align: left;
    font-size: small;
}
.current-hit-points{
    text-align: center;
    font-size: large;
    width: 100px;
    border: none
}
.hit-die{
    text-align: right;
    font-size: small;
}
.hit-point-title{
    font-weight: bold;
}
#characterSheetInventory{
    overflow: hidden;
}
.bold{
    font-weight: bold;
}
.border-right{
    border-right: 2px solid black;
}
.bottom-border-light{
    border-bottom: 1px solid rgb(184, 184, 184);
}
.hidden-border{
    overflow: hidden;
}
.shield {
    height: 115px;
    min-width: 150px;
    border: 5px solid black;
    border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%; 
    padding: 0
  }
  .current-AC{
      width: 50px;
      border: none;
      text-align: center;
  }
.bolder{
    font-weight:900;
}


/* image-border test */

.image-border {
    padding: 20px;
    border-width: 60px;
    border-style: solid;
    border-image-source: url("../../asset-extra/page-borders-2018-46.png");
    border-image-slice: 80;
    /* border-image-outset: 4px; */
    background-color: transparent;
}
.background-color{
    background:transparent;
}
